@font-face {
    font-family: 'WhiteRabbit';
    src: url('WhiteRabbit.eot?#iefix') format('embedded-opentype'), url('WhiteRabbit.woff') format('woff'), url('WhiteRabbit.ttf') format('truetype'), url('WhiteRabbit.svg#WhiteRabbit') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* BODY */

body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


/* Disposition du background */

#back {
    background-image: url(images/backgroundnewbi.gif);
    height: 600px;
    width: 1066px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
}


/*------------------ Section Herman------------------------  */

.hermandiv {
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: row;
}


/* ------------- herman character ---------------- */

.herman {
    height: 180px;
    width: 180px;
    margin-left: 50px;
    margin-top: 420px;
    opacity: 1;
    position: relative;
}

.hermanmove {
    animation-name: pushherm;
    animation-duration: 2s;
}

@keyframes pushherm {
    0% {
        left: 0px;
    }
    50% {
        left: 300px;
    }
    100% {
        left: 0px;
    }
}


/*explosion herman */

.explosionherm {
    position: absolute;
    top: 380px;
    left: 800px;
    height: 300px;
    width: 300px;
    display: none;
    z-index: 3;
}


/*section points herman*/

.hermanpoints {
    border: 5px solid black;
    height: 600px;
    width: 150px;
    opacity: 0.6;
    background-color: rgba(255, 105, 180, 0.4);
    text-align: center;
}

.hermanpoints h1 {
    font-family: 'WhiteRabbit';
    font-size: 2.5em;
    color: rgba(0, 0, 0, 1);
}

.hermanpoints p {
    font-family: 'WhiteRabbit';
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
}

#advancement1 {
    width: 80px;
    background-color: pink;
}

.etoilesherman {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.etoilesherman i {
    color: rgba(255, 255, 0, 1);
    font-size: 1em;
}

.etoilesherman i:hover {
    color: rgba(255, 255, 0, 1);
    font-size: 1em;
}


/*-------------------Section Roger------------------- */

.rogerdiv {
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* ---------Roger character -------- */

.roger {
    height: 220px;
    width: 220px;
    opacity: 1;
    margin-top: 380px;
    position: relative;
}

.rogermove {
    animation-name: pushro;
    animation-duration: 2s;
}

@keyframes pushro {
    0% {
        right: 0px;
    }
    50% {
        right: 300px;
    }
    100% {
        right: 0px;
    }
}


/*explosion roger */

.explosionro {
    position: absolute;
    top: 350px;
    right: 800px;
    display: none;
}


/*Section points Roger */

.rogerpoints {
    border: 5px solid black;
    height: 600px;
    width: 150px;
    background-color: rgba(144, 238, 144, 0.6);
    text-align: center;
}

.rogerpoints h1 {
    font-family: 'WhiteRabbit';
    font-size: 2.5em;
    color: rgba(0, 0, 0, 1);
}

.rogerpoints p {
    font-family: 'WhiteRabbit';
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
}

#advancement2 {
    width: 80px;
    background-color: silver
}

.etoilesroger {
    display: flex;
    flex-direction: column;
}

.etoilesroger i {
    color: rgba(255, 255, 0, 1);
    font-size: 1em;
}


/*-------------------------barre de boutons--------------------------- */

.buttonbar {
    width: 1058px;
    height: 70px;
    display: flex;
    margin: auto;
    border: 3px solid black;
    opacity: 0.8;
    flex-direction: row;
}


/* ----------section de bouton HERMAN--------- */

.buttonherman {
    width: 50%;
    height: 70px;
    background-color: plum;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}


/*bouton herman 1*/

.buttonherman1 {
    width: 80px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonherman1::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonherman1:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonherman1 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/*bouton herman 2*/

.buttonherman2 {
    width: 80px;
    height: 40px;
    border-radius: 100%;
    background-color: lightseagreen;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonherman2::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonherman2:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonherman2 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/*bouton herman 3*/

.buttonherman3 {
    width: 80px;
    height: 40px;
    border-radius: 100%;
    background-color: lightpink;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonherman3::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonherman3:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonherman3 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/* Bouton herman 4 */

.buttonherman4 {
    width: 100px;
    height: 50px;
    border-radius: 100%;
    background-color: lightseagreen;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonherman4::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonherman4:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonherman4 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/* -------- Section bouton Roger --------*/

.buttonroger {
    width: 50%;
    height: 70px;
    background-color: lightseagreen;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}


/*bouton roger 1*/

.buttonroger1 {
    width: 80px;
    height: 40px;
    border-radius: 100%;
    background-color: black;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonroger1::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonroger1:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonroger1 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/* bouton roger 2 */

.buttonroger2 {
    width: 80px;
    height: 40px;
    border-radius: 100%;
    background-color: lightskyblue;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonroger2::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonroger2:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonroger2 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}


/*bouton roger 3*/

.buttonroger3 {
    width: 80px;
    height: 40px;
    border-radius: 100%;
    background-color: lightcoral;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonroger3::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonroger3:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonroger3 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}

.buttonroger4 {
    width: 100px;
    height: 50px;
    border-radius: 100%;
    background-color: lightseagreen;
    box-shadow: 4px 4px 4px 4px grey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.buttonroger4::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.buttonroger4:hover::after,
button:focus::after {
    animation: sheen 1s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.buttonroger4 p {
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: 'WhiteRabbit';
}